*.h linguist-detectable=false
*.sv linguist-detectable=false
*.svh linguist-detectable=false
*.vh linguist-detectable=false
*.m linguist-detectable=false
*.svg linguist-detectable=false
*.i linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.cp linguist-detectable=false
*.hpp linguist-detectable=false
*.ncl linguist-detectable=false
*.cxx linguist-detectable=false

*.c++ linguist-detectable=false
