<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319033163591-95d0gsth3rmt7u7gtf1ecfm846lq3ni3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319033163591-95d0gsth3rmt7u7gtf1ecfm846lq3ni3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319033163591-2hve2g9s4qe4ohqfas5ivrej4uahj87e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ8CpL0II0ShgUsPeE7u0PWnYJBALpVHE</string>
	<key>GCM_SENDER_ID</key>
	<string>319033163591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karpportal</string>
	<key>PROJECT_ID</key>
	<string>karp-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>karp-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319033163591:ios:7b17dbe2821f5d889bd662</string>
</dict>
</plist>